In [214]:
import pandas
file1 = pandas.read_excel("files/file_1.xlsx", sheet_name = 0)
file2 = pandas.read_excel("files/file_2.xlsx", sheet_name = 0)
file_out = pandas.read_excel("files/file_output.xlsx", sheet_name = 0)
arr_pos = [file1,file2]
arr_neg = []
# file1.set_index("id", inplace=True, drop=False)
# file2.set_index("id", inplace=True, drop=False)
# file_out.set_index("id", inplace=True, drop=False)

In [218]:
for pmt in arr_pos:
    file_out = pandas.merge(file_out, pmt, on=('id'), how ='outer')

In [219]:
file_out["amount"] = file_out[["amount_x", "amount_y"]].sum(axis = 1, skipna = True)
file_out = file_out.drop(["amount_x", "amount_y"], axis = 1)

In [221]:
file_out

   id  amount
0   1    46.0
1   2   864.0
2   3    68.0
3   4    92.0
4   5    46.0
5   6    30.0
6   7    68.0
7   8    52.0

In [223]:
from datetime import datetime

# current date and time
now = datetime.now()

timestamp = datetime.timestamp(now)
print("timestamp =", timestamp)

timestamp = 1647179094.303209

In [250]:
from datetime import datetime

timestamp = datetime.timestamp(datetime.now())
dt_object = datetime.fromtimestamp(timestamp).strftime('%y-%m-%d_%H:%M:%S')

print("dt_object =", dt_object)
print("type(dt_object) =", type(dt_object))

dt_object = 22-03-13_16:00:54
type(dt_object) = <class 'str'>